MONITORING_RESTART_POLICY={{ monitoring_restart_policy | default('unless-stopped') }}

PROMETHEUS_IMAGE={{ monitoring_prometheus_image | default('prom/prometheus') }}:{{ monitoring_prometheus_image_tag | default('v3.3.0') }}
PROMETHEUS_PUBLISHED_PORT={{ monitoring_prometheus_published_port | default(monitoring_prometheus_port ~ ":9090") }}
PROMETHEUS_CONFIG_PATH={{ monitoring_prometheus_config_path | default(monitoring_config_root ~ '/prometheus/prometheus.yml') }}
PROMETHEUS_RULES_PATH={{ monitoring_prometheus_rules_path | default(monitoring_config_root ~ '/prometheus/rules') }}
PROMETHEUS_DATA_PATH={{ monitoring_prometheus_data_path | default(monitoring_data_root ~ '/prometheus') }}
PROMETHEUS_RETENTION_TIME={{ monitoring_prometheus_retention_time | default('15d') }}
PROMETHEUS_RETENTION_SIZE={{ monitoring_prometheus_retention_size | default('10GB') }}

GRAFANA_IMAGE={{ monitoring_grafana_image | default('grafana/grafana') }}:{{ monitoring_grafana_image_tag | default('11.6.0') }}
GRAFANA_PUBLISHED_PORT={{ monitoring_grafana_published_port | default(monitoring_grafana_port ~ ":3000") }}
GRAFANA_PROVISIONING_PATH={{ monitoring_grafana_provisioning_path | default(monitoring_config_root ~ '/grafana/provisioning') }}
GRAFANA_DASHBOARDS_HOST_PATH={{ monitoring_grafana_dashboards_host_path | default(monitoring_config_root ~ '/grafana/dashboards') }}
GRAFANA_DATA_PATH={{ monitoring_grafana_data_path | default(monitoring_data_root ~ '/grafana') }}
GRAFANA_ADMIN_USER={{ monitoring_grafana_admin_user | default('admin') }}
GRAFANA_ADMIN_PASSWORD={{ monitoring_grafana_admin_password | default('change-me') }}
GRAFANA_SERVER_ROOT_URL={{ monitoring_grafana_server_root_url | default('http://monitoring-01:' ~ monitoring_grafana_port) }}

ALERTMANAGER_IMAGE={{ monitoring_alertmanager_image | default('prom/alertmanager') }}:{{ monitoring_alertmanager_image_tag | default('v0.28.1') }}
ALERTMANAGER_PUBLISHED_PORT={{ monitoring_alertmanager_published_port | default(monitoring_alertmanager_port ~ ":9093") }}
ALERTMANAGER_CONFIG_PATH={{ monitoring_alertmanager_config_path | default(monitoring_config_root ~ '/alertmanager/alertmanager.yml') }}
ALERTMANAGER_DATA_PATH={{ monitoring_alertmanager_data_path | default(monitoring_data_root ~ '/alertmanager') }}

NODE_EXPORTER_IMAGE={{ monitoring_node_exporter_image | default('prom/node-exporter') }}:{{ monitoring_node_exporter_image_tag | default('v1.9.0') }}
NODE_EXPORTER_PUBLISHED_PORT={{ monitoring_node_exporter_published_port | default(monitoring_node_exporter_port ~ ":9100") }}

CADVISOR_IMAGE={{ monitoring_cadvisor_image | default('gcr.io/cadvisor/cadvisor') }}:{{ monitoring_cadvisor_image_tag | default('v0.49.1') }}
CADVISOR_PUBLISHED_PORT={{ monitoring_cadvisor_published_port | default(monitoring_cadvisor_port ~ ":8080") }}
